<launch>
  <node name="respeaker_node" pkg="respeaker_ros" type="respeaker_node.py"
	output="screen" launch-prefix="sudo"/>

  <node name="static_transformer" pkg="tf" type="static_transform_publisher"
        args="0 0 0 0 0 0 map respeaker_base 100"/>

    <rosparam>
      language: ja-JP
      self_cancellation: true
      tts_tolerance: 0.5
    </rosparam>
  </node>
</launch>
